.main-section-banner {
  background-image: url("https://i.ibb.co/JnmTD12/banner.jpg");
  background-position: center;
  background-size: cover;
}

.main {
  height: 1300px;
}
@media (max-width: 1200px) {
  .main {
    height: 1500px;
  }
}
